
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body
{
  margin: 0;
  height: 100%;
  overflow: hidden
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.link-btn
{
  padding: 0;
  border: none;
  background: none;
  color: #3490dc;
}
.link-btn:hover
{
  color: #1d68a7;
}

.inline-form
{
  display: inline-block;
}

.btn-success
{
  color: #fff !important;
}

#sidebar
{
  background-color: #f0f0f0;
  height: calc(100vh - 40px);
}

#main-content
{
  overflow-y: auto;
  max-height: calc(100vh - 40px);
}

#propertiesbar
{
  font-size: 0.8rem;
}

#company
{
  color: #bfbfbf;
  position: absolute;
  bottom: 20px;
}

.sub-brand
{
  display: block;
  font-size: 70%;
  color: #6c757d;
  display: inline-block;
  padding-left: 20px;
}

.globe-link
{
  font-size: 120%;
  color: rgba(192, 192, 192, 0.75)
}

.globe-link:hover
{
  color: rgba(150, 150, 150, 0.75)
}

.sidebar-sticky
{
  .nav
  {
    .nav-item
    {
      a
      {
        font-size: 1rem;
      }
    }
  }
  .sidebar-heading
  {
    span
    {
      font-size: 1.1rem;

    }
  }
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.navbar-nav .dropdown-menu
{
  position: absolute;
  top: 92%;
}