body
{
  background-image: url("/img/desk.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover
}

body, html {
  height: 100%;
}

#navbar
{
  margin: 40px 0 0;
  background-color: #181a1d !important;
}

#footer-block
{
  margin-bottom: 40px;
}

@media (min-width: 992px) {
  .navbar {
    height:50px;
  }
}

.card
{
  background-color: #181a1d !important;
  color: white;
  margin: 20px 0 0;
}